.chat-overview {
  width: 80%;
}

.user-list {
  overflow: scroll;
  width: 100%;
  margin-top: 20px;
  height: 90%;
}

.chat-header {
  justify-content: space-between;
}

.current-user {
  margin-left: 16px;
}


.alert {
  animation-name: alertChange;
  animation-duration: 1s;
  animation-iteration-count: 5;
}

@keyframes alertChange {
  from {color: #868686;}
  to {color: #680000;}
}
