.full-width {
  width: 100%;
}

#chat-window {
  border: 1px solid #ccc;
  height: 500px;
  overflow: scroll;
  background-color: #20423252;
}

.message {
  width: 100%;

  .content {
    display: inline-block;
    border-radius: 4px;
    padding: 8px;
    width: 50%;
    background-color: white;
  }
  .time {
    display: inline-block;
    font-size: 12px;
  }
}

.system {
  text-align: center;
  .content {
    background-color: #a9ff0094;
  }
}

.local {
  text-align: right;
  .content {
    background-color: #0048ab70;
    color: white;
  }


}

.mat-list-item {
  height: unset !important;
}

.message-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .message-area {
    width: 80%
  }

  .button-list {

  }
}

@media screen and (max-width: 600px) {
  #chat-window {
    height: 440px;
  }

  .message-form {
    padding: 16px;
  }
}
