.full-width {
  width: 100%;
}

#chat-window {
  border: 1px solid #ccc;
  height: 500px;
  overflow: scroll;
  background-color: #ccc;
}

.message {
  width: 100%;

  .content {
    display: inline-block;
    border-radius: 4px;
    padding: 8px;
    width: 50%;
    background-color: white;
  }
  .time {
    display: inline-block;
    font-size: 12px;
  }
}

.local {
  text-align: right;
  .content {
    background-color: rgba(41, 103, 187, 0.3);
  }
}

.mat-list-item {
  height: unset !important;
}

.message-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .message-area {
    width: 80%
  }

  .button-list {

  }
}
